* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-size: min(calc(1vw + 12px), 16px);
  font-family: ui-sans-serif, system-ui;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: min-content;
}

.container {
  flex: 0 1 760px;
  padding: 3rem;
  max-width: 760px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
}

.button,
input {
  display: inline-block;
  overflow: visible;
  outline: none;
  color: #000;
  background-color: #fff;
  padding: calc(1em - 2px);
  border-radius: 1em;
  box-shadow: 0 0.25em 2em -0.25em #8d59e2;
  border: 2px solid #ddd;
}

.hero {
  width: 100%;
  padding: 3em;
  text-align: left;
  color: #fff;
  height: 80vh;
  position: relative;
  background: linear-gradient(45deg, #0f248a 0%, #6b0f8a 100%);
  overflow: hidden;
}
.hero .buttons > * {
  margin-bottom: 2em;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bgImage svg, .bgImage canvas {
  height: 100%;
  width: 100vw;
  overflow: visible;
}
.bgImage.noise {
  background-image: url("https://fixthephoto.com/images/content/photoshop-film-grain-overlay-281611833342.jpg");
  background-size: cover;
  mix-blend-mode: screen;
  opacity: 0.1;
}
.bgImage.fog {
  opacity: 0.1;
  background: radial-gradient(circle at bottom, transparent, #3d0f8a 90%);
}
.bgImage.heroContent {
  height: 80%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  gap: 1em;
}

@keyframes orbit {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.recentReviews {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  box-shadow: 0px 0px 5px 1px #43188a;
  padding: 1.5rem;
  padding-bottom: 0rem !important;
  border-radius: 1rem;
}
.card h3 {
  text-decoration-color: #43188a;
  text-decoration: underline;
}

.miniReview {
  display: block;
  flex: 0 0 min-content;
}
.miniReview .productImage {
  height: 200px;
  width: 200px;
  background: linear-gradient(45deg, #0f248a 0%, #6b0f8a 100%);
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
.miniReview h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.miniReview .review {
  max-height: 150px;
  overflow: hidden;
  position: relative;
}
.miniReview .review::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  background: linear-gradient(#fff0, #ffff);
}

figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1, h2, h3 {
  margin: 0;
  /*margin-top:0.1rem;
  margin-bottom:0.1rem;*/
}

h1 {
  font-size: max(3em, min(10vh, 10vw));
}

/*All im showing off is the next 9 css things*/
.btn-juicy {
  transition: 0.2s;
}

.btn-juicy:not(input):hover:active {
  transition: 0.1s;
  box-shadow: 1px 2px #2e105f;
  transform: translate(5px, 10px);
}

.btn-juicy:hover {
  box-shadow: 6px 12px #2e105f;
  transform: translate(-1px, -2px);
}

/*All im showing off is the next 9 css things*/
.btn-juicy {
  text-decoration: none;
}

.btn-juicy:not(input):hover:active {
  box-shadow: 1px 2px 0px 0px #43188a, 10%;
  transform: translate(1px, 2px);
}

.btn-juicy:hover, .btn-juicy:focus {
  box-shadow: 3px 6px 1px 0px #2e105f;
  transform: translate(-1px, -2px);
}

.btn5{
border-radius: 6px solid black;

}
@media (max-width: 760px) {
  .card {
    border-radius: 6vw;
    padding: 6vw;
  }

  .satalite {
    animation: none !important;
  }

  body {
    font-size: 16px;
  }

  .container {
    width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .miniReview {
    flex-grow: 1;
  }

  .hero .heroContent {
    padding: 6vw;
  }
}